@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body, html {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #555
}

* {
    position: relative;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 64px;
}

a {
    text-decoration: none;
    color: #555;
}

.paper a {
    text-decoration: underline;
}

@media (max-width: 500px), (max-height: 400px) {
    h1 {
        font-size: 32px;
    }
}

.section {
    max-width: 1200px;
    margin: auto;
}

.spacer {
    height: 400px;
}

.titleContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    height: 300px;
    margin-top: -150px;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
}

.map {
    position: fixed;
    top: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.map.eastCoast {
    background-image: url('images/eastCoast.jpg');
}

.map.toronto {
    background-image: url('images/toronto.jpg');
}

.map.washingtonDC {
    background-image: url('images/washingtonDC.jpg');
}

.map.philly {
    background-image: url('images/philadelphia.jpg');
}

.map.westCoast {
    background-image: url('images/westCoast.jpg');
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
}

.mapWrapper {
    width: 100%;
    height: 100%;
}

#mask {
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#content {
    width: 100%;
    z-index: 300;
    text-align: center;
    overflow: hidden;
}

#nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #555;
    z-index: 600;
    padding: 12px;
    transition: height .5s ease;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

#nav a {
    color: white;
}

#nav:hover {
    height: 120px;
}

#nav:hover .label {
    opacity: 1;
}

.navLine {
    position: absolute;
    width: 238px;
    height: 2px;
    border: 1px solid white;
    display: inline-block;
    top: 24px;
    left: 16px;
}

.navElement {
    position: relative;
    top: 2px;
    margin-top: -7px;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    font-size: 12px;
    display: inline-block;
    transition: top .5s ease;
    cursor: pointer;
    transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}

.lineNavElement {
    font-weight: 600;
}

.line {
    width: 2px;
    height: 12px;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    left: 5px;
    transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
}

.circle,
.circleFill {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.circle {
    background: #555;
    border: 2px solid white;
}

.navElement:hover .circleFill {
    opacity: 1 !important;
}

.circleFill {
    background: white;
    opacity: 0;
    transition: opacity .5s ease;
}

.label {
    position: absolute;
    top: -2px;
    left: 18px;
    width: 100px;
    opacity: 0;
    transition: opacity .5s ease;
}

#socialMedia {
    float: right;
}

#socialMedia > h3 {
    margin: 0 4px 0 0;
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
}

img.social {
    width: 24px;
    height: 24px;
    transition: width .5s ease;
}

#welcome {
    height: 800px;
}

.jump {
    font-weight: 600;
}

.video,
.paper,
.photo {
    border: 20px solid white;
    margin: 50px auto;
    background: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.paper {
    text-align: left;
    width: 1000px;
}

.photo,
.video {
    display: inline-block;
}

.photo .caption {
    text-align: left;
    margin-top: 10px;
}

#cnTowerDown,
#error,
#crazyTruck {
    width: 840px;
}
